body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #aadadb;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.container {
    width: 350px;
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

.weather-card {
    margin-top: 25px;
}

.weather-card h2 {
    margin-bottom: 15px;
}